.cart-container {
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 0 300px 210px 300px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    padding: 0 0 50px 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
}

.cart-item {
    display: flex;
    align-items: center;
}

.info-pdcart {
    margin: 20px 100px;
}

body {
    background-color: whitesmoke;
}

.pd-img {
    max-width: 200px;
    margin-top: 20px;
    position: relative;
    left: 30px;
}

.hr-cart {
    width: 850px;
    position: relative;
    right: 295px;
    top: 50px;
    margin: 20px 0;
    border: 1px solid gray;
    border-radius: 10px;
}

button {
    border: 2px solid #d01c24;
    color: #d01c24;
    background-color: white;
    border-radius: 10px;
    padding: 5px 30px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: whitesmoke;
}

.remove svg {
    position: relative;
    top: 1px;
}

.text-total {
    margin-top: 50px;
    font-size: 24px;
}

h1 {
    font-size: 40px;
}